.tracker {
	background-color: $bg-color;
	width: 100%;
	height: 100%;
}

.crypto-card {
	width: 30rem;
	border-radius: 2rem;
	overflow: hidden;
	border: none;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.upper-body {
	background-color: blue;
}

.crypto-title {
	color: white;
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.icon {
	filter: invert(98%) sepia(9%) saturate(252%) hue-rotate(223deg) brightness(116%) contrast(100%);
	width: 2.5rem;
}

.price-label {
	font-size: 1.2rem;
	font-weight: 700;
}

.section-title {
	font-weight: 700;
	font-size: 1.3rem;
}

.price-num {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 700;
}
.increase {
	color: rgb(0, 206, 0);
}
.decrease {
	color: rgb(201, 48, 48);
}
.stagnant {
	color: black;
}

.suggestion {
	font-weight: 700;
}
.suggestion-badge {
	font-size: .8rem;
}

.caret {
	font-size: 1.1rem;
}
.caret-container {
	height: 1.2rem;
	width: 1.2rem;
}